<div>
  <h3>AuthForm</h3>
</div>


<form [formGroup]="signInForm" (ngSubmit)="signIn()">
  <input type="text" placeholder="username" formControlName="username">

  <input type="password" placeholder="password" formControlName="password">

  <button type="submit">
    sign in!
  </button>
</form>
